<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.silver.fox.media">

    <uses-permission android:name="android.permission.INTERNET"/>
    <!--录屏权限-->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!--android 9.0上使用前台服务，需要添加权限-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <application>
        <activity
            android:name=".MediaDemoListActivity"
            android:exported="false" />
        <activity
            android:name=".RtmpDemoActivity"
            android:exported="false" />
        <activity
            android:name=".AudioVideoMixActivity"
            android:exported="false" />
        <activity
            android:name=".ScreenToH264Activity"
            android:exported="false" />
        <activity
            android:name=".CameraCaptureActivity"
            android:exported="false" />
        <activity
            android:name=".AudioFlipActivity"
            android:exported="false" />
        <activity
            android:name=".VideoMixActivity"
            android:exported="false" />
        <!--录屏service-->
        <service
            android:name=".ScreenCaptureService"
            android:exported="false"
            android:foregroundServiceType="mediaProjection" />
    </application>

</manifest>