<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.silver.fox.view">

    <application>
        <activity android:name="com.silver.fox.activity.SplashActivity"></activity>
        <activity android:name="com.silver.fox.activity.LoveActivity" />
        <activity android:name="com.silver.fox.activity.BubbleActivity" />
        <activity android:name="com.silver.fox.activity.ViewTestActivity" />
        <activity android:name="com.silver.fox.activity.LockPatternActivity" />
        <activity android:name="com.silver.fox.activity.VerticalDragActivity" />
        <activity android:name="com.silver.fox.activity.PaintCanvasActivity" />
        <activity android:name="com.silver.fox.activity.ShapeActivity" />
        <activity
                android:name="com.silver.fox.activity.TestActivity"
                android:theme="@style/view_AppTheme.NoActionBar" />
        <activity
                android:name="com.silver.fox.activity.SlideActivity"
                android:theme="@style/view_AppTheme.NoActionBar" />
    </application>

</manifest>